{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h3>About</h3>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
        As a developer, manually writing out a long list to inject into a simple dropdown
        seemed completely unnecessary.  Every programming language has, in some form, a US state
        listing package, however, I thought it might be useful to create a unified API to do all
        the grunt for developers.
        </p>
        <p>
        This service is based on the python package, <a href="https://pypi.python.org/pypi/us/">us</a>.
        </p>

    </div>
</div>
{% endblock %}