<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name=”description” content=”United States of America States Information API”>

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- <link href="{{ url_for('static', filename='core.css') }}" rel="stylesheet"> -->
        {% block css %}{% endblock %}

        <title>USA States API</title>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">USS API</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-th-large"></span> States
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/states/">State List</a></li>
                                <li><a href="/states/abbr/">State List Abbreviations</a></li>
                                <li><a href="/state/">State Information</a></li>
                            </ul>
                        </li>
                        <li><a href="/about/"><span class="glyphicon glyphicon-question-sign"></span> About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block jumbo_content %}
        <div id="content" class="container">
            {% block content %}{% endblock %}
            <hr />
            &#169; Copyright 2014 by <a href="http://neurosnap.net">Eric Bower</a>
            <br /><br />
        </div>
        {% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='core.js')  }}"></script>
        {% block js %}{% endblock %}
    </body>
</html>