{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>US States API</h1>
            <p>
                This service is a simple programming interface for developers 
                that allows quick access to basic US State information.
            </p>
            <p>
                <a class="btn btn-primary btn-lg" role="button" href="/state/">
                    <span class="glyphicon glyphicon-list"></span>
                     State Information List
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}