{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h3>{{ title }}{% if small_title %}{{ small_title }}{% endif %}</h3>
</div>

<ol class="breadcrumb">
    <li><a href="/state/">States</a></li>
    <li class="active">{{ title }}</li>
</ol>

<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary json_format">JSON</button>
    </div>
</div>

{% if request %}
<div class="row">
    <div class="col-md-12">
        <pre>{{ request }}</pre>
    </div>
</div>
{% endif %}

{% if headers %}
<div class="row">
    <div class="col-md-12">
        <pre>{{ headers }}</pre>
    </div>
</div>
{% endif %}

{% if response %}
<div class="row">
    <div class="col-md-12">
        <pre>{{ response|safe }}</pre>
    </div>
</div>
{% endif %}

{% endblock %}